<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdateLics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <UpdateLics.Properties.Settings>
            <setting name="DaysToAdd" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ThumbPrint" serializeAs="String">
                <value>44fa776e7fc544baf99186648e41599bb2e72560</value>
            </setting>
        </UpdateLics.Properties.Settings>
    </applicationSettings>
</configuration>